@import '../../less/config.less';
@i: '../../assets/res/';

#section2
{
    background: url('@{i}35.png') no-repeat 0 0;
    background-size: cover;

    @bg-suffix: 'jpg';
    @clouds-prefix: '/c_';
    @clouds-suffix: '.png';
    img
    {
        -webkit-backface-visibility: hidden;
    }
    &.fade-transition
    {
        .transition(opacity .5s ease);
    }
    &.fade-enter
    {
        opacity: 0;
    }
    // 背景 begin
    .bg0,
    .bg1,
    .bg2,
    .bg3,
    .bg4,
    .bg5,
    .bg6,
    .bg7,
    .bg8,
    .bg9
    {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100% 100%;
    }
    .bg0
    {
        background-image: url('@{i}57.@{bg-suffix}');
    }
    .bg1
    {
        background-image: url('@{i}58.@{bg-suffix}');
    }
    .bg2
    {
        background-image: url('@{i}59.@{bg-suffix}');
    }
    .bg3
    {
        background-image: url('@{i}60.@{bg-suffix}');
    }
    .bg4
    {
        background-image: url('@{i}61.@{bg-suffix}');
    }
    .bg5
    {
        background-image: url('@{i}62.@{bg-suffix}');
    }
    .bg6
    {
        background-image: url('@{i}63.@{bg-suffix}');
    }
    .bg7
    {
        background-image: url('@{i}64.@{bg-suffix}');
    }
    .bg8
    {
        background-color: #0e1c40;
        background-image: url('@{i}38.png');
    }
    .bg9
    {
        background-color: #0e1c40;
        background-image: url('@{i}39.png');
    }
    // 背景 end
    // 云彩 begin
    .cloud0,
    .cloud1,
    .cloud2,
    .cloud3,
    .cloud4,
    .cloud5,
    .cloud6,
    .cloud7
    {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100% 87.5%;
    }
    .cloud0
    {
        background-image: url('@{i}@{clouds-prefix}01@{clouds-suffix}');
    }
    .cloud1
    {
        background-image: url('@{i}@{clouds-prefix}02@{clouds-suffix}');
    }
    .cloud2
    {
        background-image: url('@{i}@{clouds-prefix}03@{clouds-suffix}');
    }
    .cloud3
    {
        background-image: url('@{i}@{clouds-prefix}04@{clouds-suffix}');
    }
    .cloud4
    {
        background-image: url('@{i}@{clouds-prefix}05@{clouds-suffix}');
    }
    .cloud5
    {
        background-image: url('@{i}@{clouds-prefix}06@{clouds-suffix}');
    }
    .cloud6
    {
        background-image: url('@{i}@{clouds-prefix}07@{clouds-suffix}');
    }
    .cloud7
    {
        background-image: url('@{i}@{clouds-prefix}08@{clouds-suffix}');
    }
    // 云彩 end

    // 项目 begin
    .item0-0
    {
        background: url('@{i}43.png') no-repeat;
        background-size: cover;
    }
    .item0-1
    {
        background: url('@{i}44.png') no-repeat 50% 37%;
        background-size: 23.6% auto;
    }
    .item1-0,
    .item1-1,
    .item1-2,
    .item1-3
    {
        background-repeat: no-repeat;
        background-position: 0 10%;
        background-size: 100% auto;
    }
    .item1-0
    {
        background-image: url('@{i}itm1_01.png');
    }
    .item1-1
    {
        background-image: url('@{i}itm1_02.png');
    }
    .item1-2
    {
        background-image: url('@{i}itm1_03.png');
    }
    .item1-3
    {
        background-image: url('@{i}itm1_04.png');
    }
    .item2
    {
        background: url('@{i}46.png') no-repeat 50% 15.45%;
        background-size: 100% auto;
    }
    .item3
    {
        background: url('@{i}67.png') no-repeat 0% 30%;
        background-size: 100% auto;
    }
    .item3-0
    {
        background: url('@{i}65.png') no-repeat 0% 30%;
        background-size: 100% auto;
    }
    .item3-1
    {
        background: url('@{i}66.png') no-repeat 0% 30%;
        background-size: 100% auto;
    }
    .item4
    {
        background: url('@{i}47.png') no-repeat 50% 53%;
        background-size: 75% auto;
    }
    .item5
    {
        background: url('@{i}52.png') no-repeat 58% 58%;
        background-size: 15% auto;
    }
    .item6
    {
        background: url('@{i}53.png') no-repeat 50% 100%;
        background-size: 100% auto;
    }
    .item7
    {
        background: url('@{i}54.png') no-repeat 50% 65%;
        background-size: 100% auto;
    }
    // 项目 end
}
